<div class="carousel-div">
  <carousel interval="4000">
    <slide>
      <img
        src="https://arenamerchandising.com/assets/d6ba5c5506877f239aa1fa7f9953c391.jpg"
        alt="first slide"
        class="img-responsive"
        center-block
        style="display: block; width: 100%;"
      />
    </slide>
    <slide>
      <img
        src="https://arenamerchandising.com/assets/d248405fbb24fa125a57111eeef73a30.jpg"
        alt="third slide"
        class="img-responsive"
        center-block
        style="display: block; width: 100%;"
      />
    </slide>
  </carousel>
</div>
