<nav class="show-md">
  <ion-img
    (click)="navigate('home')"
    class="logo logo-img"
    src="../../../assets/icons/ArenaEmbroideryLogo.svg"
  ></ion-img>

  <div class="mini-nav ion-float-right">
    <ion-buttons class="show-md" slot="secondary">
      <a class="go-link" href="tel:(855) 462-7362">
        <ion-icon class="telephone" color="primary" name="call"></ion-icon>
      </a>
    </ion-buttons>
    <ion-buttons class="show-md" slot="primary">
      <ion-buttons slot="start">
        <ion-menu-button> </ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </div>
</nav>
<nav class="hide-md" id=" navigation">
  <div class="logo">
    <ion-img
      (click)="navigate('home')"
      class="logo-img"
      src="../../../assets/icons/ArenaEmbroideryLogo.svg"
    ></ion-img>
  </div>
  <ul class="links-l ion-float-left">
    <li class="links-li">
      <a (click)="navigate('custom-embroidered-apparel')" class="bold">
        Embroidered Apparel
      </a>
    </li>
    <li class="links-li">
      <a (click)="navigate('custom-embroidered-patches')" class="bold">
        Patches
      </a>
    </li>
    <li class="links-li">
      <a class="bold" (click)="navigate('estimate')">
        Estimate
      </a>
    </li>
  </ul>
  <ul class="links-r ion-float-right padding-right">
    <li class="dropdown-links padding-right">
      <a class="bold">Links </a>

      <ul class="dropdown">
        <li class="d-li underline">
          <a
            href="https://arenaembroidery.com/"
            target="_blank"
            class="trigger-drop trigger-drop-54b9a9"
          >
            <ion-icon
              class="d-icon"
              src="../../../assets/icons/Embroidery.svg"
            ></ion-icon>

            <span class="arena-text">Arena </span>Embroidery</a
          >
        </li>
        <li class="d-li underline">
          <a
            href="https://shop.arenaprints.com/"
            target="_blank"
            class="trigger-drop trigger-drop-eda346"
            ><ion-icon
              class="yellow d-icon"
              src="../../../assets/icons/SB.svg"
            ></ion-icon>
            <span class="arena-text">Arena </span>Screen Burning</a
          >
        </li>

        <li class="d-li underline">
          <a
            href="https://arenaprints.com/"
            target="_blank"
            class="trigger-drop trigger-drop-6693e0"
            ><ion-icon
              class="d-icon"
              src="../../../assets/icons/PrintingOrder.svg"
            ></ion-icon>
            <span class="arena-text">Arena </span>Prints</a
          >
        </li>

        <li class="d-li">
          <a
            href="https://arenasewing.com/"
            target="_blank"
            class="trigger-drop trigger-drop-e3686f"
            ><ion-icon
              class="d-icon"
              src="../../../assets/icons/Sewing.svg"
            ></ion-icon>
            <span class="arena-text">Arena </span>Sewing</a
          >
        </li>
      </ul>
    </li>
    <li class="r-li">
      <a
        href="https://arenaembroidery.com/"
        target="_blank"
        class="trigger-drop trigger-drop-54b9a9"
      >
        <ion-icon
          class="icon-img"
          src="../../../assets/icons/Embroidery.svg"
        ></ion-icon>

        <span class="arena-text">Arena </span>Embroidery</a
      >
    </li>
    <li class="r-li">
      <a
        href="https://shop.arenaprints.com/"
        target="_blank"
        class="trigger-drop trigger-drop-eda346"
        ><ion-icon
          class="yellow icon-img"
          src="../../../assets/icons/SB.svg"
        ></ion-icon>
        <span class="arena-text">Arena </span>Screen Burning</a
      >
    </li>
    <li class="r-li">
      <a
        href="https://arenaprints.com/"
        target="_blank"
        class="trigger-drop trigger-drop-6693e0"
        ><ion-icon
          class="icon-img"
          src="../../../assets/icons/PrintingOrder.svg"
        ></ion-icon>
        <span class="arena-text">Arena </span>Prints</a
      >
    </li>
    <li class="r-li">
      <a
        href="https://arenasewing.com/"
        target="_blank"
        class="trigger-drop trigger-drop-e3686f"
        ><ion-icon
          class="icon-img"
          src="../../../assets/icons/Sewing.svg"
        ></ion-icon>
        <span class="arena-text">Arena </span>Sewing</a
      >
    </li>
    <li class="tel-li">
      <a class="go-link" href="tel:(855) 462-7362">
        <ion-icon class="telephone" color="primary" name="call"></ion-icon>
        <span class="tel-number green">GO-ARENA</span></a
      >
    </li>
  </ul>
</nav>
